@using Microsoft.AspNet.Identity
@model IEnumerable<Gutr.Data.Profile>

@{
    ViewBag.Title = "My Profile";
}

<h2>@User.Identity.GetUserName()'s Profile</h2>

@*<p>
    {
        //foreach (var item in Model)
        //{
           // <div>test</div>
            //Html.DisplayFor(modelItem => item.Name);
            //var myString = Html.DisplayFor(modelItem => item.Name);
            @*if (String.IsNullOrEmpty(myString) == false)
                    {
                        @Html.ActionLink("Create New", "Create");
                }*@
@*//}
    // }*@
@*@Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Summary)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Url)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <h4>
            @Html.ActionLink("Edit", "Edit", new { id = item.OwnerId })
        </h4>
        @*<tr>
            <td>*@
        <div>
            <img class="img-profile" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Profile Image" />
        </div>
        <h4>
            Name:
            @Html.DisplayFor(modelItem => item.Name)
        </h4>
        @*</td>
            <td>*@
        <h4>
            Bio:
            @Html.DisplayFor(modelItem => item.Summary)
        </h4>
        @*</td>
            <td>*@
        <h4>
            My Favorite Website:
            <a href="@Html.DisplayFor(modelItem => item.Url)" target="blank">@Html.DisplayFor(modelItem => item.Url)</a>
        </h4>
        @*</td>
            <td>*@
        @*@Html.ActionLink("Details", "Details", new { id=item.OwnerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OwnerId })*@
<h4>
    @Html.ActionLink("Delete", "DeleteProfile", "Profile", new { id = item.OwnerId }, null)
</h4>
        @*</td>
            </tr>*@
    }

</table>


@*//var myString = Html.DisplayFor(modelItem => item.Name).ToString();
    //if (String.IsNullOrEmpty(myString) == false)
    //if (myString.Length == 0 || myString == null)

    <div>@ViewBag.hasProfile</div>*@
@if (ViewBag.hasProfile == false)
{
    <div> @Html.ActionLink("Create New", "Create")</div>
}
@*}*@
@*<div>@myString </div>*@

@*<div> @Html.ActionLink("Create New", "Create")</div>*@
