@model Gutr.Models.ProfileDetail

@{
    ViewBag.Title = "UP";
}




<h2>@Html.DisplayFor(model => model.UserName)'s Profile</h2>

<div>
    <img class="img-profile" src="@Html.DisplayFor(model => model.ImageUrl)" alt="Profile Image" />
</div>

<h4>
    Name:
    @Html.DisplayFor(model => model.Name)
</h4>

<h4>
    Bio:
    @Html.DisplayFor(model => model.Summary)
</h4>





<h4>
    My Favorite Website:
    <a href="@Html.DisplayFor(model => model.Url)" target="blank">@Html.DisplayFor(model => model.Url)</a>
</h4>


