@model IEnumerable<Gutr.Data.Favorite>

@{
    ViewBag.Title = "Favorites";
}

<h2>Favorites</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Note.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Note.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FavoriteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FavoriteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FavoriteId })
        </td>
    </tr>
}

</table>
