@model IEnumerable<Gutr.Models.NoteListItem>

@{
    ViewBag.Title = "AllPosts";
}

<h2>All Posts</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.userEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td>
            @*@value = Html.DisplayFor(modelItem => item.userEmail)
            @substring = value.Substring(0, 5)*@
            @Html.DisplayFor(modelItem => item.userEmail)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.NoteId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Title)
            <div class="ts">@Html.DisplayFor(modelItem => item.CreatedUtc)</div>
        </td>
        <td>
        </td>
        @*This area is for editing your own posts*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) |
            @Html.ActionLink("Details", "Details", new { id = item.NoteId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NoteId })
        </td>*@
    </tr>
}

</table>
