@model Gutr.Models.NoteDetail

@{
    ViewBag.Title = "Delete Post";
}

<h2>My Posts > Delete</h2>



   
    
    
        <div>
        <h4>
            Post# 
        </h4>

           @Html.DisplayFor(model => model.NoteId)
        </div>

        <div>
            <h4>Post:</h4>
            @Html.DisplayFor(model => model.Title)
        </div>

        

        <div>
            <h4>Link:</h4>
            @Html.DisplayFor(model => model.Content)
        </div>

        

        <div>
            @Html.DisplayFor(model => model.CreatedUtc)
        </div>

        

      

     

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            @Html.ActionLink("Back to My Posts", "Index")
            <input type="submit" value="Delete" class="btn btn-default" /> 
        </div>
    }
</div>
