@model Gutr.Models.NoteDetail

@{
    ViewBag.Title = "Details";
}

<h2>My Posts > Details</h2>
<div>
    <h4>
        Post#
    </h4>

    @Html.DisplayFor(model => model.NoteId)
</div>

<div>
    <h4>Post:</h4>
    @Html.DisplayFor(model => model.Title)
</div>



<div>
    <h4>Link:</h4>
    @Html.DisplayFor(model => model.Content)
</div>



<div>
    @Html.DisplayFor(model => model.CreatedUtc)
</div>




<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.NoteId }) |*@
    @Html.ActionLink("Back to My Posts", "Index")
</p>
