@model IEnumerable<Gutr.Models.NoteListItem>

@{
    /**/

    ViewBag.Title = "MyFavorites";
}

<h2>My Favorites</h2>
@*<table class="table">*@
    @foreach (var item in Model)
    {

        //var Author = Html.DisplayFor(modelItem => item.Author);
        @*<tr>*@
            @*<td>*@
                @*@value = Html.DisplayFor(modelItem => item.userEmail)
                    @substring = value.Substring(0, 5)*@
            @*</td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.NoteId)
                </td>*@
            @*<td>*@
<div class="post-wrapper">
    <div class="ts"><h4>@Html.DisplayFor(modelItem => item.userEmail) favorited:  </h4></div>
    <div class="post-message">
        @Html.DisplayFor(modelItem => item.Title)
        <a href="@Html.DisplayFor(modelItem => item.Content)" target="blank">@Html.DisplayFor(modelItem => item.Content)</a>
    </div><div class="ts">Author: @Html.DisplayFor(modelItem => item.Author)</div>

    @*@Html.ActionLink("user profile", "Index", "Profiles")@*, new { noteId = item.NoteId }, null)*@
    @*@Html.ActionLink(Author, "UP", "Profiles", new { userName = item.Author }, null)*@
    <div class="ts">
        @Html.ActionLink("View Author's Profile", "UP", "Profiles", new { userName = item.Author }, null)
    </div>


    @*<div class="ts">@Html.DisplayFor(modelItem => item.CreatedUtc)</div>*@
    <div class="ts"> @Html.ActionLink("UnFavorite", "UnFavorite", "Favorite", new { noteId = item.NoteId }, null)</div>
    <div class="noteid">Post #@Html.DisplayFor(modelItem => item.NoteId)</div>
    @*</div>*@
    @*</td>
        </tr>*@
</div>
    }






@*</table>*@